.banner__pic {
    background-image: url('../assets/img/banner.jpg');
    width: 100%;
    height: 40%;
    padding: 140px 100px;
    background-position: top center;
    background-size: cover;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.banner__pic hr {
    width: 250px;
    line-height: 90%;
    height: 10px;
    border-top: 5px solid white;
    border-radius: 20px 20px 20px 20px;
}

.banner__con {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 10px;
    background-color: white;
    padding: 26px;
    width: 100%;
    height: 50%;
}

.banner__con p {
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 80%;
}

.cir {
    background-color: rgb(255, 255, 255);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;
    color: black;
    text-align: center;
    padding: 15px;
    position: absolute;
    right: 7%;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.439);
    margin-top: -10px;
}

@media screen and (max-width:1024px) {
    .banner__pic {
        width: 100%;
        height: 60%;
        padding: 80px 40px;
        background-image: url('../assets/img/banner.jpg');
    }
    .cir {
        width: 45px;
        height: 45px;
        padding: 5px;
        margin-right: 40px;
    }
}

@media screen and (max-width:768px) {
    .banner__pic {
        width: 100%;
        height: 60%;
        padding: 80px 40px;
        background-image: url('../assets/img/banner.jpg');
    }
    .banner__con p {
        color: #000000;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        width: 80%;
        margin-top: 10px;
    }
    .cir {
        right: 10%;
        width: 45px;
        height: 45px;
        padding: 5px;
        margin-top: 10px;
    }
}